.rzume-button-base {
  border-radius: 8px;
  height: 48px;
  border: none;
  cursor: pointer;
  display: flex;
  min-width: 140px;
  align-items: center;
  justify-content: center;
  width: 100%;

  .button-elements {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:disabled {
    background-color: $light-gray;
    color: $gray;
    cursor: not-allowed;
  }

  @media (min-width: 480px) {
    width: auto;
    min-width: 160px;
  }
}

.rzume-button-primary {
  @extend .rzume-button-base;
  background-color: $rzume-blue;
  color: $white;
}

.rzume-button-secondary {
  @extend .rzume-button-base;
  background-color: $white;
  color: $rzume-blue;

}

.rzume-button-outline {
  @extend .rzume-button-base;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
}

.rzume-button-outline-text {
  @extend .rzume-button-base;
  background-color: transparent;
  border: none;
  color: $white !important;
  
  .button-elements {
    color: $white !important;
  }
  
  &.mat-button {
    color: $white !important;
  }
}