.rzume-button-base {
  border-radius: 8px;
  height: 48px;
  border: none;
  cursor: pointer;
  display: flex;
  min-width: 140px;
  align-items: center;
  justify-content: center;
  width: 100%;

  .button-elements {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:disabled {
    background-color: $light-gray;
    color: $gray;
    cursor: not-allowed;
  }

  @media (min-width: 480px) {
    width: auto;
    min-width: 160px;
  }
}

.rzume-button-primary {
  @extend .rzume-button-base;
  
  &.mat-mdc-button {
    background-color: $rzume-blue ;
    color: $white ;
    
    .mdc-button__label {
      color: $white ;
    }
  }
}

.rzume-button-secondary {
  @extend .rzume-button-base;
  
  &.mat-mdc-button {
    background-color: $white ;
    color: $rzume-blue ;
    
    .mdc-button__label {
      color: $rzume-blue ;
    }
  }
}

.rzume-button-outline {
  @extend .rzume-button-base;
  
  &.mat-mdc-button {
    background-color: transparent ;
    border: 1px solid $white ;
    color: $white ;
    
    .mdc-button__label {
      color: $white ;
    }
  }
}

.rzume-button-outline-text {
  @extend .rzume-button-base;
  .button-elements {
    color: $white ;
  }
  
  &.mat-mdc-button {
    background-color: transparent ;
    border: none ;
    color: $white ;
    
    .mdc-button__label {
      color: $white ;
    }
  }
}