<footer class="footer-container">


      <div class="footer-left">
        <div class="footer-brand">
          <img src="assets/icons/rzume_logo_white_v2.svg" alt="rzume logo" class="author-avatar" />
        </div>

        <div class="footer-newsletter">
          <h3 class="newsletter-title">Get job search tips and product updates</h3>
          <div class="newsletter-form">
            <input type="email" placeholder="Enter your email" class="newsletter-input" />
            <button mat-button class="rzume-button-secondary ">
              <span class="button-elements">Subscribe</span>
            </button>
          </div>
        </div>
      </div>

      <div class="footer-right">
        <nav class="footer-nav">
          <a *ngFor="let link of footerLinks" [routerLink]="link.route" class="footer-link">
            {{ link.label }}
          </a>
        </nav>
      </div>

      <div class="footer-decal">
        <img src="assets/icons/rzume-decal.svg" alt="rzume decal">
      </div>

</footer>
