<header class="header" [class.dark]="isDark">
  <div class="header-container">
    <div class="header-brand">
      <img [src]="headerConfig.logoSrc" [alt]="headerConfig.logoAlt" class="logo">
    </div>
    
    <nav class="header-nav" [class.open]="isMenuOpen">
      <ul class="nav-list">
        <li class="nav-item" *ngFor="let item of headerConfig.navigationItems">
          <a 
            [routerLink]="item.route" 
            class="nav-link"
            [class.active]="item.isActive"
            (click)="closeMenu()"
          >
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
    
    <div class="header-actions">
      <button mat-button class="rzume-button-outline-text header-button">
        <span class="button-elements">{{ headerConfig.loginText }}</span>
      </button>
      <button mat-button class="rzume-button-secondary header-button">
        <span class="button-elements">{{ headerConfig.signUpText }}</span>
      </button>
    </div>
    
    <button class="mobile-menu-btn" (click)="toggleMenu()" [class.open]="isMenuOpen">
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
    </button>
  </div>
</header>
