<div class="about-page">
  <div class="header-container">
    <app-header [headerConfig]="headerConfig" [isDark]="isHeaderDark"></app-header>
  </div>
  
  <div #heroSection>
    <app-hero [heroData]="heroData" [showButtons]="true" [isDark]="true"></app-hero>
  </div>
  
  <app-about-features></app-about-features>
  
  <app-core-features></app-core-features>
  
  <app-testimonials></app-testimonials>
  
  <app-blog></app-blog>
  
  
  <section class="cta-section">
    <div class="cta-overlay">

        <div class="cta-content">
          <h2 class="cta-title">Your job search, simplified. Start tracking today.</h2>
          <button mat-button class="rzume-button-primary" (click)="navigateToSignUp()">
            <span class="button-elements">Sign up free</span>
          </button>
        </div>

    </div>
  </section>
  
  <app-footer></app-footer>
</div>
